<div data-role="header">
    <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
    <h1>Deck Details</h1>
    <a href="#" data-icon="search" class="search ui-btn-right">Search</a>
</div>

<div data-role="content">
    <div class="employee-details">
        <h3><%= title %></h3>
        <p><%= description %></p>
    </div>

    <ul data-role="listview" data-inset="true" class="action-list">
        <% if (cardCount > 0) { %>
            <li><a href="#decks/<%= id %>/cards"><h3>List Cards</h3><p></p></a><span class="ui-li-count"><%= cardCount %></span></li>
        <% } %>
        <li><h3>Updated</h3><p><%= updated %></p></li>
        <li><h3>Created</h3><p><%= created %></p></li>
    </ul>

</div>